@{
    ViewBag.Title = "Home";
}
<div class="carousel square-bullets shadow" data-role="carousel" data-height="40vw" data-controls="false" data-effect="fade">
    <div class="slide">
        <img src="~/Images/Slide1.jpg"/>
    </div>
    <div class="slide">
        <img src="~/Images/Slide2.jpg" />
    </div>
</div>

<div class="grid">
    <div class="row cells3">
        <div class="cell">
            <div class="panel shadow">
                <div class="heading">
                    <span class="icon mif-broadcast"></span>
                    <span class="title">Recent News</span>
                </div>
                <div class="content padding10">
                    <ul>
                        <li>ORDER DATED 23-01-2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 19.01.2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 05.01.2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 04.01.2018</li>
                        <li>ORDER DATED 04.01.18</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="panel shadow">
                <div class="heading">
                    <span class="icon mif-info"></span>
                    <span class="title">Career</span>
                </div>
                <div class="content padding10">
                    <ul>
                        <li>ORDER DATED 23-01-2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 19.01.2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 05.01.2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 04.01.2018</li>
                        <li>ORDER DATED 04.01.18</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="panel shadow">
                <div class="heading">
                    <span class="icon mif-info"></span>
                    <span class="title">Announcement</span>
                </div>
                <div class="content padding10">
                    <ul>
                        <li>ORDER DATED 23-01-2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 19.01.2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 05.01.2018</li>
                        <li>ORDER U/S 144 Cr.P.C DATED 04.01.2018</li>
                        <li>ORDER DATED 04.01.18</li>
                    </ul>  
                </div>
            </div>
        </div>
    </div>
</div>

